<div class="row">
  <div class="small-2 columns users-list">
    <h4>users List</h4>
    <ul class="list-Scroll">
      <li ng-repeat="user in usersData |  limitTo:usersLimit" data-id="{{user.login}}" ui-sref="singleUser({login:user.login})" ng-click="selectingUser($event)"  class="users-list__user">
        {{user.login}}
      </li>
    </ul>
    <button ng-click="loadingUsers()" ng-show="usersLimit<usersData.length" class="primary-button button">Load More</button>
  </div>
  <div class="small-10 columns">
    <h3>user info</h3>
    <div class="card user" ng-show="selctedUserData">
      <div class="card-section">
          <img src="{{selctedUserData.avatar_url}}" class="user__img">
      </div>
      <div class="card-section">
        <h3>label: {{selctedUserData.login}}</h3>
        <p>bio : {{selctedUserData.bio}}</p>
      </div>

    </div>
  </div>
</div>
