* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
}

.container {
  width: 1170px;
  margin: auto;
}

.page-content {
  margin-top: 40px;
}

.primary-button {
  background: $main-color;
}

.list-Scroll {
  max-height: 620px;
  overflow-y: hidden;
  &:hover {
    overflow-y: auto;
  }
}
