@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-bold.ttf');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: $body-font;
  font-size: 14px;
}
