* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  color: inherit; }

.container {
  width: 1170px;
  margin: auto; }

.page-content {
  margin-top: 40px; }

.primary-button {
  background: #66BB6A; }

.list-Scroll {
  max-height: 620px;
  overflow-y: hidden; }

.list-Scroll:hover {
  overflow-y: auto; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/Roboto-bold.ttf");
  font-weight: bold;
  font-style: normal; }

body {
  font-family: "roboto";
  font-size: 14px; }

.main-nav {
  background: #222;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  color: #fff; }

.main-nav__left-content {
  float: left; }

.main-nav__right-content {
  float: right;
  line-height: 60px; }

.main-nav__links {
  display: inline-block;
  margin-right: 10px;
  line-height: 60px; }

.main-nav__links:last-of-type {
  margin-right: 0; }

.main-nav__links .is-active {
  color: #66BB6A; }

.users-list ul {
  list-style: none; }

.users-list__user {
  padding: 7.5px 0; }

.user__img {
  width: 180px; }

/*# sourceMappingURL=layout.css.map */
