<nav class="main-nav">
  <div class="container">
    <div class="main-nav__left-content">
      <img src="assets/images/logo.png"  ui-sref="home" alt="" class="main-nav__logo">
      <h3 class="main-nav__title">Github Users</h3>
    </div>
    <ul class="main-nav__right-content">
      <li class="main-nav__links"><a ui-sref="home" ui-sref-active="is-active">Home</a></li>
      <li class="main-nav__links"><a ui-sref="users" ui-sref-active="is-active">Users</a></li>
      <li class="main-nav__links"><a ui-sref="about" ui-sref-active="is-active">About</a></li>
    </ul>
  </div>
</nav>
