.main-nav {
  background: $header-bg;
  height: $header-height;
  line-height: $header-height;
  overflow: hidden;
  color: #fff;
  &__left-content {
    float: left;
  }
  &__right-content {
    float: right;
    line-height: $header-height;
  }
  &__links {
    display: inline-block;
    margin-right: 10px;
    line-height: $header-height;
    &:last-of-type {
      margin-right: 0;
    }
    .is-active {
      color: $main-color;
    }
  }
}
